.square {
  margin-top: 10rem;
  margin: auto;
  width: 20rem;
  height: 26rem;
  border-radius: 60px;
  background: #ffffff;
  box-shadow: 9px 9px 20px #ababab, -9px -9px 20px #ffffff;
  opacity: 0.7;
}
